<div class="modal-backdrop @(IsVisible ? "show" : "")" @onclick="CloseModal">
</div>

<div class="modal-container @(IsVisible ? "show" : "")">
    @if (Movie != null)
    {
        <div class="modal-content">
            <img class="backdrop" src="@($"https://image.tmdb.org/t/p/original{Movie.Backdrop_Path}")" />

            <div class="detail-overlay">
                <h1>@Movie.Title</h1>
                <p class="rating">⭐ @Movie.Vote_Average</p>
                <p class="overview">@Movie.Overview</p>
                <div class="buttons">
                    <button class="btn play">▶ Reproducir</button>
                    <button class="btn info">+ Mi Lista</button>
                </div>
            </div>

            <button class="modal-close" @onclick="CloseModal">✖</button>
        </div>
    }
</div>

@code {
    [Parameter] public Movie Movie { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync(null);
    }
}
