@page "/"
@inject TmdbService _TmdbService
@inject IJSRuntime JSS


<PageTitle>Home</PageTitle>

<Hero/>



<h2 class="section-title">Películas Populares</h2>
<GenericCarousel TItem="FrontMovie" Items="@popular" />

<h2 class="section-title">Series Populares</h2>
<GenericCarousel TItem="TvSeries" Items="@popularTv" />



<h2 class="section-title">Películas Top</h2>
<GenericCarousel TItem="FrontMovie" Items="@topRated" />

<h2 class="section-title">Series Top</h2>
<GenericCarousel TItem="TvSeries" Items="@top" />



<h2 class="section-title">Películas de Action</h2>
<GenericCarousel TItem="FrontMovie" Items="@action" />

<h2 class="section-title">Series On Air</h2>
<GenericCarousel TItem="TvSeries" Items="@air" />




@code {
    private List<FrontMovie>? popular = [];
    private List<FrontMovie>? topRated = [];
    private List<FrontMovie>? action = [];
    private List<TvSeries>? top = [];
    private List<TvSeries>? air = [];
    private List<TvSeries>? popularTv = [];

    protected override async Task OnInitializedAsync()
    {
        var results = await Task.WhenAll(
            _TmdbService.GetPopularMovies(),
            _TmdbService.GetTopRatedMovies(),
            _TmdbService.GetActionMovies()
        );

        var Tvresults = await Task.WhenAll(
            _TmdbService.GetTopRatedSeries(),
            _TmdbService.GetOnTheAirSeries(),
            _TmdbService.GetPopularSeries()
        );

        popular = results[0]!.Results!;
        topRated = results[1]!.Results!;
        action = results[2]!.Results!;

        top = Tvresults[0]!.Results!;
        air = Tvresults[1]!.Results!;
        popularTv = Tvresults[2]!.Results!;
    }
}